body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  position: relative;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.hero-picture {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}
